body {
    background-color:black;
}
#h1{
    text-align: center;
    color: grey;
    font-weight: 700;
}
#clk {
    margin: 0 auto;
    position: relative;
    display: block;
    background-color:white;
    font-family: sans-serif;
    width: 450px;
    padding: 35px;
    padding-top: 10px;
    border-radius: 25px;
}
#res{
    position: relative;
    left: 70px;
    top: 30px;
}
.cont{
    margin: 0 auto;
    position: relative;
    display: block;
}
.txt{
    position: absolute;
    text-align: right;
    left: 105px;
}
.inp {
    position: absolute;
    left: 270px;
}
.end{
    background-color: yellow;
}
#rate{
    left: 270px;
    width: 95px;
}
#rateOut{
    width: 31px;
    left: 368px;
    top: 128px;
}
#perc{
    position: relative;
    left: 375px;
    top: 4px;
    font-weight: bold;
}
#cr{
    position: relative;
    bottom: -50px;
    left: -15px;
    font-weight: bold;
}
#endwrap{
    display: none;
}

